In [1]:
#q1

In [2]:
a = "aman"

In [6]:
b = [1,2,3,4,5,5,6,6,6,7,77,7,7,7,]

In [7]:
c = 34.67

In [8]:
#q2

In [9]:
var1 = ''
type(var1)

str

In [11]:
var2 = '[DS,ML,PYTHON]'
type(var2)

str

In [13]:
var3 = ['DS','ML','PYTHON']
type(var3)

list

In [15]:
var4 = 1
type(var4)

int

In [16]:
#q3

In [20]:
#/ - this is a division operator .the division operator returns the quotient of the division.
#example 
b = 67/54
print(b)

1.2407407407407407

In [22]:
#% - percentage operator. the percentage operator gives the remainder of the division
#example
98%6

2

In [23]:
#// - floor division. floor division returns the nearest whole  number.
#example
98//56

1

In [24]:
#** - power operator.the power opeartor multiplies the first argument with itself ,number of times the number in the second argument.
#example
8**8

16777216

In [25]:
#q4

In [30]:
a = [1,2,3,True,5,-9,56.67,7.8,9,"aman"]
for i in a :
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
True
<class 'bool'>
5
<class 'int'>
-9
<class 'int'>
56.67
<class 'float'>
7.8
<class 'float'>
9
<class 'int'>
aman
<class 'str'>

In [3]:
#q5


A = int(input())
B = int(input())
while A >= 0 or A < 0 :
    if A%B == 0 :
        print("A is divisible by B")
        print("A is divisible by B", A/B , "times")
    break

 66
 2

A is divisible by B
A is divisible by B 33.0 times

In [ ]:
#Q6

In [10]:
m = [1,2,3,4,5,6,7,8,9,0,22,33,44,55,66,77,88,99,89,56,78,66767,56,99,990989]
for i in m :
    if i%3 == 0 :
        print("element", i,"is divisible by 3")
    print("element", i,"is not divisible by 3")
else :
    print("sorry")

element 1 is not divisible by 3
element 2 is not divisible by 3
element 3 is divisible by 3
element 3 is not divisible by 3
element 4 is not divisible by 3
element 5 is not divisible by 3
element 6 is divisible by 3
element 6 is not divisible by 3
element 7 is not divisible by 3
element 8 is not divisible by 3
element 9 is divisible by 3
element 9 is not divisible by 3
element 0 is divisible by 3
element 0 is not divisible by 3
element 22 is not divisible by 3
element 33 is divisible by 3
element 33 is not divisible by 3
element 44 is not divisible by 3
element 55 is not divisible by 3
element 66 is divisible by 3
element 66 is not divisible by 3
element 77 is not divisible by 3
element 88 is not divisible by 3
element 99 is divisible by 3
element 99 is not divisible by 3
element 89 is not divisible by 3
element 56 is not divisible by 3
element 78 is divisible by 3
element 78 is not divisible by 3
element 66767 is not divisible by 3
element 56 is not divisible by 3
element 99 is divisible by 3
element 99 is not divisible by 3
element 990989 is not divisible by 3
sorry

In [9]:
#q7
#string = immutable object whereas
#list = mutable object
#list lets you mutate for a particular index whereas string doesnt let you change at particular index
#list lets you change or replace the item whereas string neglects from assigning an item.

In [10]:
#this is an example of list which is a mmutable object

b = [1,2,3,4,5,True,12.55]

In [11]:
b[4] = False

In [12]:
b

[1, 2, 3, 4, False, True, 12.55]

In [3]:
#this is an example of string which is an immutable object

a = "hriday"

In [4]:
a[3]

'd'

In [5]:
a[3] = "n"

TypeError: 'str' object does not support item assignment