## A1)
we use # to comment out codes
there are 3 types of comments in python
1) single line 
2) multi line 
3) doc string

## A2)
variable is a name to which values are assigned.

p = [1,2,7,8,6,9]

## A3)
Typecasting is used to convert one data type to another.

## A4)
SHIFT + ENTER is used to execute a python script from command line .

In [ ]:
## A5)
my_list = [1,2,3,4,5]

In [34]:
my_list[1:3]

[2, 3]

## A6)

Complex data type consists of two values one is real number and other one is imaginary number .

In [36]:
a = (78+9j)

## A7)

The correct way to declare a variable named age is as follows:-

In [39]:
age = 25

# A8)

In [41]:
price = 9.99

In [42]:
type(price)

float

the variable belongs to the float data type

## A9)

In [43]:
name = ("AMAN OSWAL")

In [44]:
name

'AMAN OSWAL'

## A10)

In [47]:
a = ("Hello,World!")

In [53]:
a[6:12]

'World!'

## A11)

In [54]:
Is_student = True